.list-group-item{
    text-align: center;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.table{
    font-size: small;
}

@media (max-width: 1080px) {
    .table{
        font-size: smaller;
    }
    
}

